* {
  /* outline: 1px solid grey; */
}

.form-control:focus {
<<<<<<< HEAD
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
=======
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
>>>>>>> eb34ec620fd3bdd40c7bcc49f9268a6863e1725f
}
