<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="main/static/projectStyle.css">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'projectStyle.css' %}">
</head>
<style>
    #side {
        height: fit-content;
        overflow-wrap: break-word;
    }
</style>
<body>
    <div class="row mx-3">
        <div id="side" class="col-sm-auto mr-3 border border-info p-4"> <!-- left box: category listing and search bar -->
    <div id="left_nav_bar" class="row mx-3">
        <div class=" col-2 mr-3 border border-info p-4"
        style="height: 220px;"
        > <!-- left box: category listing and search bar -->
        <div class="row mb-2">
            

            <div class="col "> <!-- search box -->
                <form style="display:inline" class="m-0" action="{% url 'search' %}" method="GET">
                <div class="input-group">
                        <input name="search" class="form-control border-secondary py-2" type="text" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                </div>
            </div> <!-- End of search box -->
        </div>
        <div class="row h6">Categories</div>
        {% for category in all_categories %}
        <a class="text-dark" href="/product/category/{{ category.id }}">{{ category.name }}</a><br>
        {% endfor %}
        <a class="text-dark" href="/">Show all</a>
    </div>
</body>
</html>