<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="row mx-3 mb-3 bg-info pt-3 pb-2"> <!-- Header bar -->
        {% load static %}
        <img src="{% static "logos/blueSunflower.png" %}" alt="logo" width="100" id="logoImg" class="ml-2"/>
        <div class="col h2 text-white mt-4" id="logoText">S u n f l<span><img src="{% static "logos/sunflower2.png" %}" alt="logo" width="30" class="mx-0" /></span>w e r s</div>
        <div class="col text-white text-right mt-4 pt-2">
            <a class="text-white" href="/shopping_cart">Shopping Cart  ({{quantity_in_cart}}) </a>
        </div> 
    </div> <!-- End of Header bar -->
</body>
</html>