<!DOCTYPE html>
<html lang="en">

<head>
    {% include "_0_head_tags.html" %}  <!-- Import Header tags -->
    <title>Purchase Successful!</title>
</head>

<body>
    <div id="container">
        <!-- Beg of container -->
        {% include "_0_top_nav_bar.html" %}
        <p class="row ml-5 mt-5">Purchase Successful!</p>
        <p class="row ml-5 mt-5">Please wait upto 5 business days for your orders to ship.</p>
        <a class="row ml-5" href="/">Continue shopping</a>
    </div> <!-- End of container -->
</body>

</html>