<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Product Information</title>
    <style>
        * {
            /* outline: 1px solid grey; */
            font-size:1.5vw;
            }
        #devNoteContent {display: none;}
        #devNoteHeader:hover ~ #devNoteContent {
            display: block;
        }
        .developer_note {
            background: radial-gradient(rgba(111, 215, 246, 0.842), rgba(174, 227, 236, 0.835));
        }

        .developer_note p{
            margin: 0 0;
        }
    </style>
    {% include "_0_head_tags.html" %}  
    <!-- Import Header tags -->
</head>
<body>
    <div id="container"> <!-- Beg of container -->
        
        {% include "_0_top_nav_bar.html" %}  <!-- Import nav_bar for logo and shopping cart -->



        <a class="row mx-5 mb-3" href="/product/category/{{ this_category.id }}">Go Back</a>
        {% for msg in messages %}
            <p class="ml-4" style="color: red">{{ msg }}</p>
        {% endfor %}
        <div class="row mx-5 h3 mb-3">{{ this_product.name }}</div> <!-- Product name -->
        {% if this_product.temp_quan_avail < 1 %}
        <h4 class="row ml-4 text-danger">This product is no longer available</h4>
        <a class="row ml-4 text-danger" href="/product/category/{{ this_category.id }}">Find another product</a>
        {% endif %}
        <div class="row mx-3"> <!-- Product images and descriptions -->
            <div class="col-5 mx-5"> <!-- Product images -->
                <div class="row"> <!-- Smaller images -->
                    <div class="col-3"> <!-- Smaller images -->
                        {% for photo in this_product.photos.all %}
                        {% if photo.type_of_photo_id == 2 %}
                        <div class="row">
                            <a href="/product/category/{{this_category.id}}/item/{{this_product.id}}/{{photo.id}}"><img class="col my-2" src="{{ photo.img.url }}"></a>
                        </div>
                        {% endif %}
                        {% endfor %}    
                    </div> <!-- End of smaller images -->
                    <div class="col"> <!-- Main image -->
                        {% for photo in this_product.photos.all %}
                        {% if photo.type_of_photo_id == 1 %}
                        <img class="col-12 mb-2" src="{{ photo.img.url }}">
                        {% endif %}
                        {% endfor %}
                    </div> <!-- End of main image -->
                </div>
            </div> <!-- End of product images -->
            <div class="col-5"> <!-- Product details -->
                <div class="row mb-5">{{this_product.desc}}</div>
                <form class="row" action="/add_to_cart" method="POST"> <!-- Price and quantity -->
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{this_product.id}}">
                    <div class="col-5 offset-4">
                        <select class="col-12 mt-1" name="quantity" id="">
                            {% if this_product.temp_quan_avail >= 1 %}
                            <option value="1">1 ($ {{price_1}})</option>
                            {% endif %}
                            {% if this_product.temp_quan_avail >= 2 %}
                            <option value="2">2 ($ {{price_2}})</option>
                            {% endif %}
                            {% if this_product.temp_quan_avail >= 3 %}
                            <option value="3">3 ($ {{price_3}})</option>
                            {% endif %}
                        </select>
                    </div> 
                    <button class=" btn btn-primary btn-sm shadow" >Add to Cart</button>
                </form> <!-- End of price and quantity -->
            </div> <!-- End of details -->
        </div> <!-- End of product images and descriptions -->
        <div class="row mx-3 py-2 mt-3 h4">Similar Items</div>
        <div class="row mx-3"> <!-- similar items -->
            {% for product in similar_items|slice:":7" %}
            {% if product.id != this_product.id and this_product.temp_quan_avail > 0 %}
            {% for photo in product.photos.all %}
            {% if photo.type_of_photo_id == 1 %}
            <div class="col-2 text-center mb-5">
                <div class="row">
                    <img class="col-8 offset-2 mb-2" src="{{ photo.img.url }}">
                </div>
                <a class="row" href="/product/category/{{this_category.id}}/item/{{ product.id}}">{{ product.name }}</a>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div> <!-- End of similar items -->

    </div> <!-- End of container -->
</body>
</html>