<!DOCTYPE html>
<html lang="en">

<head>
    {% include "_0_head_tags.html" %}  <!-- Import Header tags -->
    <title>Product Information</title>
</head>

<body>
    <div id="container">
        <!-- Beg of container -->
        {% include "_0_top_nav_bar.html" %}  <!-- Import nav_bar for logo and shopping cart -->
            <p class="row ml-5 mt-5">Your items have been added to your cart successfully</p>
            <a class="row ml-5" href="/">Continue shopping</a>
            <a class="row ml-5" href="">Go to cart</a>
    </div> <!-- End of container -->
</body>

</html>