<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_0_head_tags.html" %}  <!-- Import Header tags -->
    
    <title>Shopping Cart</title>
</head>
<body>
<div class="container">
    {% include "_0_top_nav_bar.html" %}  <!-- Import nav_bar for logo and shopping cart -->
    <table class="table table-bordered table-hover col-11 mx-5">  <!-- Order breakdown -->
        <thead class="">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item_details in cart_detail %}
            <tr>
                <td>{{ item_details.1 }}</td>
                <td class="text-right pr-4">{{ item_details.2 }}</td>
                <td class="text-right pr-4">{{ item_details.3 }}</td>
                <td class="text-right pr-4">{{ item_details.4 }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="text-right">Total before sales tax: </td>
                <td class="text-right pr-4">{{ total_before_tax_str }}</td>
            </tr>
            <tr>
                <td colspan="3" class="text-right">Sales Tax: </td>
                <td class="text-right pr-4">{{ sales_tax_str }}</td>
            </tr>
            <tr>
                <td colspan="3" class="text-right">Total order: </td>
                <td class="text-right pr-4 font-weight-bold">{{ total_after_tax }}</td>
            </tr>
        </tbody>
    </table> <!-- End of order table -->
            <div class="col-3 offset-10"><button type="button" class=" btn btn-success ">Continue Shopping</button></div>
    <div class="col-8 offset-2 mb-5 ml-5 pl-5"> <!-- Wrapper for shipping and billing info -->
        <div class="row h4 my-4">Shipping Information</div>
        <div class="row my-1">
            <div class="col-3">First Name:</div>
            <div class="col-9"><textarea name="first_name" id="" cols="30" rows="1" required></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">Last Name:</div>
            <div class="col-9"><textarea name="last_name" id="" cols="30" rows="1" required></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">Address:</div>
            <div class="col-9"><textarea name="address" id="" cols="30" rows="1" required></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">Address 2:</div>
            <div class="col-9"><textarea name="address2" id="" cols="30" rows="1"></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">City:</div>
            <div class="col-9" required><textarea name="city" id="" cols="30" rows="1"></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3" >State:</div>
            <div class="col-9"><textarea name="state" id="" cols="30" rows="1" required maxlength=2></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">Zipcode:</div>
            <div class="col-9"><textarea name="zipcode" id="" cols="30" rows="1" required maxlength=5></textarea></div>
        </div>
        <div class="row h4 mt-3 my-4">Billing Information</div>
        <div class="row my-1">
            <div class="col-1 text-right"><input type="checkbox" name="same_as_shipping"></div>
            <div class="col"><label for="same_as_shipping">Same as Shipping</label></div>
        </div>
        <div class="row my-1">
            <div class="col-3">First Name:</div>
            <div class="col-9"><textarea name="first_name" id="" cols="30" rows="1" required></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">Last Name:</div>
            <div class="col-9"><textarea name="last_name" id="" cols="30" rows="1" required></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">Address:</div>
            <div class="col-9"><textarea name="address" id="" cols="30" rows="1" required></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">Address 2:</div>
            <div class="col-9"><textarea name="address2" id="" cols="30" rows="1"></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">City:</div>
            <div class="col-9" required><textarea name="city" id="" cols="30" rows="1"></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3" >State:</div>
            <div class="col-9"><textarea name="state" id="" cols="30" rows="1" required maxlength=2></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">Zipcode:</div>
            <div class="col-9"><textarea name="zipcode" id="" cols="30" rows="1" required maxlength=5></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">Card:</div>
            <div class="col-9"><textarea name="card" id="" cols="30" rows="1" required></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">Security Code:</div>
            <div class="col-9"><textarea name="security_code" id="" cols="30" rows="1" required maxlength=3></textarea></div>
        </div>
        <div class="row my-1">
            <div class="col-3">Expiration:</div>
            <div class="col-9"><input type="number" min="1" max="12" name="card_exp_month"> /
                <input type="number" min="2020" max="2040" name="card_exp_year"></div>
        </div>
        <div class="row my-1">
            <div class="col-3 offset-5 text-right"><button type="button" class="btn btn-success shadow">Pay</button></div>
            
        </div>
        
    </div> <!-- End of shipping and billing info -->
</div> <!-- End of container -->

</body>
</html>