<!DOCTYPE html>
<html lang="en">

<head>
    {% include "_0_head_tags.html" %}  <!-- Import Header tags -->
    <style>
        * {
            /* outline: 1px solid grey; */
            font-size:1.5vw;
            }
        #devNoteContent {display: none;}
        #devNoteHeader:hover ~ #devNoteContent {
            display: block;
        }
        .developer_note {
            background: radial-gradient(rgba(111, 215, 246, 0.842), rgba(174, 227, 236, 0.835));
        }

        .developer_note p{
            margin: 0 0;
        }
    </style>
    <title>Success</title>
</head>

<body>
    <div id="container">
        <!-- Beg of container -->
        {% include "_0_top_nav_bar.html" %}  <!-- Import nav_bar for logo and shopping cart -->
            <p class="row ml-5 mt-5">Thank you for placing your order! Your order is now being processed and will be shipped within 2-5 business days. </p>
            <a class="row ml-5" href="/">Continue shopping</a>
    </div> <!-- End of container -->
</body>

</html>