<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/projectStyle.css">
    <!-- {% load static %}
    <link rel='stylesheet' href='{% static 'projectStyle.css' %}'> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="../js/projectJS.js"></script>
    
    <title>Admin Login</title>
</head>
<body>
<div class="container">
    <div class="row mb-3 bg-info pt-4 pb-2"> <!-- Header bar -->
        <div class="col h3 text-white">Logo</div>
    </div> <!-- End of Header bar -->
    <form action="/" method="POST">
        {% csrf_token %}
        {% admin_log_in_form %}
        <button class="btn btn-primary shadow" type="submit">Login</button>
        
    </form>
</div> <!-- End of container -->
</body>
</html>