<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/projectStyle.css">
    
    <!-- {% load static %}
    <link rel='stylesheet' href='{% static 'projectStyle.css' %}'> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="../js/projectJS.js"></script>
    
    <title>All products</title>
</head>
<body>
<div class="container">
    <div class="row mb-3 bg-info pt-4 pb-2"> <!-- Header bar -->
        <div class="col-8">
            <a class="mr-2 text-white" href="/admin/dashboard">Dashboard</a>
            <a class="mr-2 text-white" href="/admin/orders">Orders</a>
            <a class="text-white" href="/admin/products">Dashboard</a>
        </div>
        <div class="col-4 text-right">
            <a class="ml-5 text-white" href="user/logoff">Log off</a>
        </div>
    </div> <!-- End of Header bar -->
    <table class="table table-bordered table-hover">  <!-- Order breakdown -->
        <div class="row mb-2"> <!-- search box and Add new product button -->
            <div class="col-6 "> <!-- search box -->
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <input class="form-control border-secondary py-2" type="search" placeholder="search">
                </div>
            </div> <!-- End of search box -->
            <div class="col-3 offset-2 text-right"> <!-- Add new product button -->
                <button class="btn btn-primary shadow">Add new product</button>
            </div> <!-- Add new product button -->
        </div> <!-- End of search box and Add new product button -->
        <thead class="">
            <tr>
                <th scope="col">Picture</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Inventory Count</th>
                <th scope="col">Quantity sold</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for product in all_products %} -->
                <tr>
                    <th scope="row">{{ this_product.pic }}</th>
                    <td>{{ this_product.name }}</td>
                    <td>{{ this_product.remaining_quantity}}</td>
                    <td>{{ this_product.total_quantity }}-{{ this_product.remaining_quantity}}</td>
                    <td>
                        <a href="/product/{{ this_product.id }}/edit">Edit</a>
                        <a href="/product/{{ this_product.id }}/delete">Delete</a>
                    </td>
                    <td>
                        <select name="order_status" id="">
                            <option value="order_in_process">Order in process</option>
                            <option value="shipped">Shipped</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </td>
                </tr>
            <!-- {% endfor %} -->
        </tbody>
    </table> <!-- End of order table -->
    <div class="row"> <!-- Page number -->
        <div class="col text-center">
            <a class="" href="">Page number |</a>
            <a href="">Page number |</a>
            <a href="">Page number |</a>
            <a href="">Page number |</a>
            <a href=""> -> </a>
        </div> <!-- End of Page number -->
        
</div> <!-- End of container -->

</body>
</html>